@use "../variables" as *;


.grid-container {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;

  &--tight {
    max-width: none;
    padding-left: 12px;
    padding-right: 12px;
  }

  &--edge {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
}
