@use "../variables" as *;


.grid-container {
  max-width: 100rem!important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  &--tight {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  &--edge {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
  }
}
