@use "../variables" as *;


$font-heading: 'Inter', system-ui, sans-serif;
$font-body: 'Roboto Mono', monospace;

body {
  font-family: $font-body;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  color: $color-text;
}

/* Headings */
@mixin h1 {
  font-family: $font-heading;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1.07px;
  color: rgba(255, 250, 246, 1);
  font-size: clamp(2.5rem, 6vw, 4rem);
  line-height: 1.05;
}

@mixin h2 {
  font-family: $font-heading;
  font-weight: 800;
  font-size: clamp(2rem, 4.5vw, 3rem);
  line-height: 1.2;
}

@mixin subtext {
  font-family: $font-body;
  font-weight: 400;
  font-size: 0.95rem;
  letter-spacing: .14em;
  text-transform: uppercase;
  opacity: .9;
}
